html {
	font: 112.5%/1.625 -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    box-sizing: border-box;
    overflow-y: scroll;   
}

body {
	margin: 0;
}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.4375rem;
    padding-bottom: calc(0.40625rem - 1px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.21875rem;
    color: inherit;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 2rem;
    line-height: 1.1;
    border-bottom: 1px solid hsla(0,0%,0%,0.07);
}

h2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.625rem;
    padding-bottom: calc(0.40625rem - 1px);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.40625rem;
    color: inherit;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 1.51572rem;
    line-height: 1.1;
    border-bottom: none;
}

h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: inherit;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 1.31951rem;
    line-height: 1.1;
}

h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: inherit;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
}

h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: inherit;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 0.87055rem;
    line-height: 1.1;
}

h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
    color: hsla(0,0%,0%,0.53);
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 800;
    text-rendering: optimizeLegibility;
    font-size: 0.81225rem;
    line-height: 1.1;
}

a {
    color: #4078c0;
    text-decoration: none;
}

a:hover,a:active {
    text-decoration: none;
}

li {
    list-style-type: none;
}

 img {
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    
    object-fit: cover;
	height: auto;
    display: block;
	max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0.8125rem;
	
    overflow: clip;
	border-style: none;
}
* {
    box-sizing: inherit;
}





.lpmWNO {
    margin: 0.25rem 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.inHjgI {
    -webkit-animation: isiQnN 1s,eoUyJr 2s linear infinite;
    animation: isiQnN 1s,eoUyJr 2s linear infinite;
    width: 30px;
    height: 30px;
}

.inHjgI svg {
    width: 100%;
    height: 100%;
    fill: #FF9800;
}


.eaVWqN {
    margin: 0;
    background: #FF9800;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 700;
    border: 1px solid #FF9800;
    background: transparent;
    color: #333;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}


.eaVWqN:hover,.eaVWqN:focus {
    background: #FF9800;
}


.eaVWqN:hover, .eaVWqN:focus {
    border: 1px solid transparent;
    background: #FF9800;
    color: #fff;
}


.kGyvkr {
	display: flex;
    margin: 0;
    background: #FF9800;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 700;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}


.kGyvkr:hover,.kGyvkr:focus {
    background: #FF9800;
}




.header_style_css {
	display: flex;
	align-items: center;
    height: 60px;
    background: #fffff;
    border-bottom: 1px solid transparent;
    position: relative;
    z-index: 2;
}


.header_style_css .nav-item {
    transition: all 0.1s;
}
.header_style_css .nav-item__primary {
    font-weight: 700;
}
.header_style_css .home-icon {
    align-items: center;
}

.header_style_css .home-icon svg {
    fill: #333;
}

.FTZjD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    min-height: 60px;
    padding: 0 1.5rem;
}

.nav_bar_style_css {
    color: #333;
    border: none;
}

.nav_bar_style_css:hover, .nav_bar_style_css:focus {
    color: #FF9800;
}

.nav_bar_style_css.active {
    color: #FF9800;
}


.eQaOKO {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.eQaOKO li {
    margin: 0;
}

.eQaOKO li:not(:last-child) {
    margin-right: 1.75rem;
}


.cLvlSE.mobile {
    display: none;
    padding: 0.25rem 0.5rem;
}


.gnCdgM span {
    font-size: 0.75rem;
}

.gnCdgM span a {
    font-weight: bold;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #f5f5f5;
    border-bottom: 1px solid #FF9800;
}

.gnCdgM span a:hover,.gnCdgM span a:focus {
    color: #FF9800;
    border-bottom: none;
}


.MKcXW {
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
   
    flex-direction: column;
   
    flex-wrap: nowrap;
    position: relative;
    background: #202329;
    color: #9E9E9E;
    padding: 4.5rem 0;
    min-height: calc(60px * 2);
    width: 100%;
}

.MKcXW .mt {
    margin-top: 1.25rem;
}

.MKcXW ul {
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
   
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.MKcXW ul li {
    margin: 0;
}

.MKcXW ul li + li {
    margin-left: 1.5rem;
}

.MKcXW ul li .footer-icon {
    vertical-align: middle;
}

.MKcXW ul li span {
    margin: 0;
}

.MKcXW ul li a {
    color: #9E9E9E;
    border-bottom: none;
}

.MKcXW ul li a:hover,.MKcXW ul li a:focus {
    color: #FF9800;
}

.dhmRna:hover,.dhmRna a:focus {
    color: #FF9800;
}

.dhmRna {
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    color: #9E9E9E;
}

.dhmRna .stats {
    margin-left: 0;
}

.dhmRna .server-icon {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background:rgb(85, 204, 68);
    background:rgb(85, 204, 68);
}

.body_main {
    padding-top: 2px;
}


.all_cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 0;
    background: #272b33;
    min-height: calc(50vh - 60px);
}


.card_container {
   
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    flex-wrap: wrap;
    max-width: 1920px;
}

.character_avatar_field {
    flex: 2 1 0%;
    width: 100%;
}



.lgTwHp {
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
  
    flex-direction: column;
    height: calc(50vh - 60px);
    text-align: center;
    position: relative;
}

.lgTwHp .hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.lgTwHp .hero-image svg {
    width: 100%;
    height: 100%;
    fill: #f5f5f5;
}


.jiKqlM {
    margin: 0;
    color: #202329;
    border: none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
}

.character_card_field {
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}



.text_card_container {
    flex: 3 1 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}


.text_text_card_container .section_person:first-child {
    justify-content: flex-start;
}

.text_card_container .section_person {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_text_card_container .section_location:first-child {
    justify-content: flex-start;
}

.text_card_container .section_location {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_text_card_container .section_episode:first-child {
    justify-content: flex-start;
}

.text_card_container .section_episode {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_card_container .status {
    display: flex;
    
    align-items: center;
    text-transform: capitalize;
}

.text_card_container .status_icon_live {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
}

.text_card_container .status_icon_dead {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(214, 61, 46);
    border-radius: 50%;
}

.text_card_container span {
    font-size: 16px;
    font-weight: 500;
}

.text_card_container span, .text_card_container h2 {
    margin: 0px;
    padding: 0px;
}

.text_card_container hover, .text_card_container focus {
                
                text-decoration: none;
                border-bottom: none;
                color: #FF9800;
            }

.text_card_container a:hover, .text_card_container a:focus {
    color: rgb(255, 152, 0);
    text-decoration: none;
}


.text_card_container a {
    color: rgb(245, 245, 245);
}

.text_card_container .text-gray {
    color: rgb(158, 158, 158);
}




