<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-1">
    <p th:text ="${location.name}"></p>
    <p th:text ="${location.type}"></p>
    <p th:text ="${location.created}"></p>
</div>
</body>
</html>