<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" href="/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Projects</title>
</head>
<body>
<div class="container mt-3">
    <nav class="navbar navbar-light bg-light mt-3">
        <a class="navbar-brand" href="#"><h1>Projects</h1></a>
    </nav>
</div>

<div class="container mt-3">
    <div class="container mt-3">
        <div class="row mt-3">
            <div class="col mt-3">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1"
                        aria-expanded="false" aria-controls="collapseExample1">
                    <span><h2>Создать проект</h2></span>
                </button>
                <div class="collapse mt-3" id="collapseExample1">
                    <div class="card card-body">
                        <div class="form-group">
                            <form action="/projects" method="post">
                                Название проекта: <input type="text" name="name" class="form-control">
                                Описание: <input type="text" name="description" class="form-control">
                                <button class="btn btn-primary" type="submit" value="Submit">Создать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container mt-3">
        <table class="table mt-3 text-center">
            <tr>
                <th scope="col">Идентификатор</th>
                <th scope="col">Название проекта</th>
                <th scope="col">Описание</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Пользователи</th>
                <th scope="col">Управление</th>
            </tr>
            <tr th:each="project: ${projects}">
                <td th:text="${project.id}"></td>
                <td th:text="${project.name}"></td>
                <td th:text="${project.description}"></td>
                <td th:text="${project.createdDate}"></td>
                <td>
                    <ul  th:each="user: ${project.users}">
                        <li class="list-group-item">
                            <span th:text="${user.username}"></span>
                        </li>
                    </ul>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit" value="Submit">
                        <a th:href="@{update-project/{id}(id=${project.id})}" class="text-white">Edit</a>
                    </button>
                    <button class="btn btn-primary" type="submit" value="Submit">
                        <a th:href="@{/projects/delete/{id}(id=${project.id})}" class="text-white">Delete</a>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>