<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" href="/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Tasks</title>
</head>
<body>
<div class="container mt-3">
    <nav class="navbar navbar-light bg-light mt-3">
        <a class="navbar-brand" href="#"><h1>Update Task</h1></a>
    </nav>
</div>
<div class="container mt-3">
    <div class="container mt-3">
        <div class="card card-body">
            <div class="form-group">
                <div class="container mt-3">
                    <form action="#" th:action="@{/update-task}" th:object="${task}" method="post">
                        <div class="form-group row">
                            <label for="id">ID</label>
                            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID"
                                   class="form-control">
                        </div>
                        <div class="form-group row">
                            <label for="title">Title</label>
                            <input type="text" th:field="*{title}" id="title" placeholder="Title" class="form-control">
                        </div>
                        <div class="form-group row">
                            <label for="description">Description</label>
                            <input type="text" th:field="*{description}" id="description" placeholder="Description"
                                   class="form-control">
                        </div>
                        <div class="form-group row">
                            <label for="createdTime">Created Time</label>
                            <input type="datetime-local" th:field="*{createdTime}" id="createdTime"
                                   placeholder="CreatedTime" class="form-control">
                        </div>
                        <button class="btn btn-primary" type="submit" value="Submit">Update task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>