<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
</head>
<body>
<h1>Task Details</h1>
<p>ID: <span th:text="${task.id}"></span></p>
<p>Title: <span th:text="${task.title}"></span></p>
<p>Description: <span th:text="${task.description}"></span></p>
<a href="/tasks">Back to Tasks</a>
</body>
</html>
